.student {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #444141;
    width: 600px;
}

.title {
    color: #F1F1F1;
    padding: 10px 0;
    text-align: center;
    width: 100%;
}

.list-all {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.subtitle-item  {
    color: #F1F1F1;
    text-align: center;
    display: inline-block;
    width: 100px;
    padding: 5px 0;
}

.subtitle-data  {
    color: #BDB2B2;
    padding: 5px 0;
    text-align: center;
    display: inline-block;
    width: 100px;
}
